.git/
.github/
.gitignore
.env
.env.example
.vscode/
.idea/
.pytest_cache/
.coverage
.DS_Store
.ruff_cache/

venv/
.venv/
env/

__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
htmlcov/

tests/
docker/
docs/
*.md
!README.md

docker-compose.yml
docker-compose.override.yml
Dockerfile
Thumbs.db
